@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --dark-color: #1b1c31;
    --gree:#1a936f;
    --violet: #2E1C46;
    --gree-light: #88d498;
    --pink: #e08dac;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--dark-color);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{ 
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--dark-color);
}

body {
    height: 300rem;
}

.header .header-1 {
    background: var(--violet);
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--pink);
}

.header .header-1 .logo i {
    color:var(--pink);
    
}

.header .header-1 .search-form {
    width: 40rem;
    height: 4.5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    text-transform: none;
    height: 100%;
    width: 100%;

}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--dark-color);
}

.header .header-1 .search-form label:hover {
    color: var(--pink);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--pink);
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--dark-color);
}

#search-btn{
   display: none;
}
