@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-color: #1b1c31;
    --green:#1a936f;
    --violet: #2E1C46;
    --green-light: #88d498;
    --green-linear: linear-gradient(135deg, #98FEE6 0%, #02D1A7 98.16%);
    --pink: #e08dac;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--dark-color);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    font-family: 'PT Serif', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}

/* html {
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    height: 100%;
}

html::-webkit-scrollbar{ 
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--dark-color);
} */

body {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}