
.container {
  width: 65%;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4,minmax(200px, 0.5fr));
  grid-gap: 20px;
}

.cardBook {
  background-color: antiquewhite;
  text-align: center;
  position: relative;
}

.cardBook img {
  width: 80%;
  margin-top: 20px;
  
}