
.container {
  width: 65%;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4,minmax(200px, 0.5fr));
  grid-gap: 20px;
  
}

.cardBook  {
  text-align: center;
  position: relative;
  box-shadow: var(--box-shadow);
}

.cardBook:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.cardBook img {
  width: 60%;
  margin-top: 10px;
  animation-duration: 5s;
  
}

.descriptions {
  margin-top: 10px;
  margin-bottom: 10px;
}
