.header-nav {
    padding: 12px 3%;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: var(--box-shadow);
    background: #712cf9;
}

.bi-person-circle {
    font-size: 2rem;
    background: none;
    color: #fff;
}

.bi-bookmark-heart-fill{
    font-size: 2rem;
    background: none;
    color: #fff;
}

.bi-heart-fill {
    font-size: 2rem;
    background: none;
    color: #fff;
}
